/** GLOBAL STYLES **/
body {
    background: linear-gradient(#21C08B, #AB88FF);
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/** HEADER STYLES **/
.header {
    align-items: center;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}

.header__img {
    margin-left: 30px;
    width: 200px;
}

/** MESSAGE 404 STYLES **/
.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

h1.pulse {
    font-size: 4rem;
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
}

/** FOOTER STYLES **/
footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left : 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px){
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0;
        width: 100%;
    }

    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}